<div class='upload_panel'>
    <div class='drop_zone'>
        <input class="image_upload main_image_upload cloudinary-fileupload" data-cloudinary-field="image_id" 
               data-form-data="" multiple="multiple" name="file" type="file"/>
        <p id="label">Drop photos here or click to choose files</p>
    </div>
    <div class="preview"></div>
</div>