@model RecipeShare.Models.Recipe

<ul class="@("rating r" + Model.Rating)">
    <li class="r1"><a href="#"></a></li>
    <li class="r2"><a href="#"></a></li>
    <li class="r3"><a href="#"></a></li>
    <li class="r4"><a href="#"></a></li>
    <li class="r5"><a href="#"></a></li>
</ul>
