#recipe {
    float: left;
    width: 600px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: black;
}

    #recipe .recipe-img {
        width: 150px;
        height: auto;
        float: right;
    }

#instructions {
    padding-right: 10px;
    border-right: solid;
    border-width: 1px;
}

#childRecipes {
    float: left;
    width: 300px;
    padding-left: 10px;
}

    #childRecipes ul {
        padding-left: 0;
        list-style-type: none;
    }

    #childRecipes .recipe-img {
        width: auto;
        height: 75px;
        float: left;
    }

    #childRecipes li {
        height: 75px;
        margin: 5px 0 5px 0;
    }

    #childRecipes .rating {
        float: right;
    }

.recipe-name {
    font-weight: bold;
    margin: 0 0 0 0;
}

.votes {
    color: #808080;
}

/*
    Styles for the rating display
*/
.rating {
    margin: 5px 0 5px 0;
    padding: 0;
    height: 16px;
    width: 80px;
    clear: both;
    background-image: url('http://res.cloudinary.com/hadwuldso/image/upload/v1373906631/rating.gif');
    background-repeat: no-repeat;
    list-style: none;
    position: relative;
}

    .rating li a {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 20;
        height: 16px;
        width: 16px;
        display: inline-block;
    }

#childRecipes .rating a {
    display: none;
}

ul.r2 {
    background-position-y: -16px;
}

ul.r3 {
    background-position-y: -32px;
}

ul.r4 {
    background-position-y: -48px;
}

ul.r5 {
    background-position-y: -64px;
}

.rating .r2 a {
    left: 16px;
}

.rating .r3 a {
    left: 32px;
}

.rating .r4 a {
    left: 48px;
}

.rating .r5 a {
    left: 64px;
}

.rating li a:hover {
    z-index: 10;
    width: 80px;
    height: 16px;
    overflow: hidden;
    left: 0;
    background-color: transparent;
    background-image: url('http://res.cloudinary.com/hadwuldso/image/upload/v1373906631/rating.gif');
    background-repeat: no-repeat;
    background-position-x: -80px;
}

.rating li.r1 a:hover {
    background-position-y: 0;
}

.rating li.r2 a:hover {
    background-position-y: -16px;
}

.rating li.r3 a:hover {
    background-position-y: -32px;
}

.rating li.r4 a:hover {
    background-position-y: -48px;
}

.rating li.r5 a:hover {
    background-position-y: -64px;
}

.images { 
    position: relative; 
    overflow: auto; 
    padding: 0;
    border: solid;
    border-width: 1px;
    border-color: #c8c8c8;
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
}

.images li { 
    list-style: circle; 
}

.images ul li { 
    float: left; 
}

#reviews {
    margin: 16px 16px 0 0;
    width: 600px;
}

    #reviews ul {
        list-style: none;
        padding: 0;
        border: solid;
        border-width: 1px;
        border-color: #c8c8c8;
        margin-left: 16px;
    }

    #reviews ul li {
        padding: 5px;
        margin: 0;
    }

        #reviews li:nth-child(2n) {
            background-color: #f8f8f8;
        }

        #reviews li:nth-child(2n+1) {
            background-color: #dcdcdc;
        }

.review-author {
    margin: 0;
    font-size: 12pt;
    color: #676767;
}

.review {
    margin: 10px 0 0 10px;
}

.upload_panel .drop_zone {
    width: 500px;
    height: 100px;
    vertical-align: middle;
    border: 2px dashed #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload_panel .drop_zone #label {
    text-align: center;
    z-index: 100;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.image_upload {
    position: absolute;
    width: 500px;
    height: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
}