.ingredient-editor {
    margin: 5px 0 5px 0;
}

    .ingredient-editor input {
        margin: 0 0 0 0;
        width: inherit;
        height: inherit;
    }

    .ingredient-editor .editor-field {
        height:inherit;
    }

.quantity {
    width: 50px;
}

.upload_panel .drop_zone {
    width: 500px;
    height: 100px;
    vertical-align: middle;
    border: 2px dashed #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .upload_panel .drop_zone #label {
        text-align: center;
        z-index: 100;
        font-weight: bold;
        font-size: 20px;
        color: #000;
    }

.image_upload {
    position: absolute;
    width: 500px;
    height: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
}
