#recipe {
    float: left;
    width: 500px;
    padding-right: 10px;
    border-right: solid;
    border-width: 1px;
}

#recipe .recipe-img {
    width: 150px;
    height: auto;
    float: right;
}

#childRecipes {
    float: left;
    width: 300px;
    padding-left: 10px;
}

#childRecipes ul {
    padding-left: 0;
    list-style-type: none;
}

#childRecipes .recipe-img {
    width: auto;
    height: 75px;
    float: left;
}

    #childRecipes li {
        height: 75px;
        margin: 5px 0 5px 0
    }

#childRecipes .rating {
    float: right;
}

.recipe-name {
    font-weight: bold;
    margin: 0 0 0 0;
}

/*
    Styles for the rating display
*/
.rating {
    margin: 5px 0 5px 0;
    padding: 0;
    height: 16px;
    width: 80px;
    background-image: url(../Images/star_rate.gif);
    background-repeat: no-repeat;
    list-style: none;
    position: relative;
}

ul.r1 {
    background-position-y: -16px;
}

ul.r2 {
    background-position-y: -32px;
}

ul.r3 {
    background-position-y: -48px;
}

ul.r4 {
    background-position-y: -64px;
}

ul.r5 {
    background-position-y: -80px;
}

    .rating li a {
        position: absolute;
        background: none;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 20;
        height: 16px;
        width: 16px;
        display: inline-block;
    }

.rating .r1 a {
    left: 0;
}

.rating .r2 a {
    left: 16px;
}

.rating .r3 a {
    left: 32px;
}

.rating .r4 a {
    left: 48px;
}

.rating .r5 a {
    left: 64px;
}



