#recipe {
    float: left;
    width: 600px;
}

    #recipe .recipe-img {
        width: 150px;
        height: auto;
        float: right;
    }

#instructions {
    padding-right: 10px;
    border-right: solid;
    border-width: 1px;
}

#childRecipes {
    float: left;
    width: 300px;
    padding-left: 10px;
}

    #childRecipes ul {
        padding-left: 0;
        list-style-type: none;
    }

    #childRecipes .recipe-img {
        width: auto;
        height: 75px;
        float: left;
    }

    #childRecipes li {
        height: 75px;
        margin: 5px 0 5px 0;
    }

    #childRecipes .rating {
        float: right;
    }

.recipe-name {
    font-weight: bold;
    margin: 0 0 0 0;
}

.votes {
    color: #808080;
}

/*
    Styles for the rating display
*/
.rating {
    margin: 5px 0 5px 0;
    padding: 0;
    height: 16px;
    width: 80px;
    background-image: url(../Images/star_rate.gif);
    background-repeat: no-repeat;
    list-style: none;
    position: relative;
}

    .rating li a {
        position: absolute;
        background: none;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 20;
        height: 16px;
        width: 16px;
        display: inline-block;
    }

ul.r1 {
    background-position-y: -16px;
}

ul.r2 {
    background-position-y: -32px;
}

ul.r3 {
    background-position-y: -48px;
}

ul.r4 {
    background-position-y: -64px;
}

ul.r5 {
    background-position-y: -80px;
}

.rating .r1 a {
    left: 0;
}

.rating .r2 a {
    left: 16px;
}

.rating .r3 a {
    left: 32px;
}

.rating .r4 a {
    left: 48px;
}

.rating .r5 a {
    left: 64px;
}

#reviews {
    margin: 16px 16px 0 0;
}

    #reviews ul {
        list-style: none;
        padding: 0;
        border: solid;
        border-width: 1px;
        border-color: #c8c8c8;
        margin-left: 16px;
    }

    #reviews ul li {
        padding: 5px;
        margin: 0;
    }

        #reviews li:nth-child(2n) {
            background-color: #f8f8f8;
        }

        #reviews li:nth-child(2n+1) {
            background-color: #dcdcdc;
        }

.review-author {
    margin: 0;
    font-size: 12pt;
    color: #676767;
}

.review {
    margin: 10px 0 0 10px;
}

